<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="~/img/sneakers.png" width="40px" height="40px">
            </a>
            <div>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>

